<div class="col-lg-12">
  <h1><%= @user.name %>'s todo list</h1>
  <%= render partial: "/items/form", locals: { user: @user, item: @item } %>
  <% if @user.items.count > 0 %>
      <div class="well">
        <ul class="list-group checked-list-box no-margin">
          <%= render partial: "/items/item", collection: @user.items %>
        </ul>
      </div>
  <% end %>
</div>

